@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'antd/dist/antd.css';
.App {
  text-align: center;
  background: #F0F0F0;
  width: 100vw;
  height: 100vh;

}
*{
  font-family: roboto;
}
.anticon.anticon-search svg{
  width: 20px;
  height: 20px;
}